{
  "presets": ["next/babel"],
  "plugins": [
    [
      "babel-plugin-discard-module-references",
      {
        "targets": [
          // used to import typings
          "pob-babel"
        ]
      }
    ]
  ]
}
